body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    background-color: rgb(20, 20, 25);
    color: white;
}
#header {
    background-color: rgb(10, 10, 15);
}
#title, #menu {
    text-align: center;
}
#title h1 {
    font-size: 64px;
    margin: 0;
    padding: 30px 0 0 0;
}
#title h2 {
    font-size: 48px;
    margin: 0;
    padding: 0 0 30px 0;
}
#menu {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
#menu .menu {
    padding: 15px 50px;
    font-size: 28px;
    text-decoration: none;
    color: white;
}
#menu .active {
    background-color: rgb(20, 20, 25);
    font-weight: 600;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ad {
    width: calc(33% - 50px);
    text-align: center;
    margin-bottom: 50px;
}
.ad-collection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.ad-collection img {
    width: calc(50% - 10px);
    margin-bottom: 7px;
    border-radius: 6px;
    transition: 0.2s transform;
    z-index: 1;
    cursor: pointer;
}
.ad-collection img:hover {
    transform: scale(1.25);
    z-index: 3;
}
.ad-name {
    position: relative;
    display: block;
    width: calc(100% - 12px);
    margin: 2px auto;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px 0;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.presumed::after {
    position: absolute;
    top: -15px;
    right: -15px;
    content: '?';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(200, 40, 40);
    color: white;
    z-index: 2;
}

@media screen and (max-width: 1600px) {
    #title h1 {
        font-size: 48px;
    }
    #title h2 {
        font-size: 36px;
    }
    #menu .menu {
        padding: 12px 35px;
        font-size: 24px;
    }
    .ad-name {
        font-size: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .ad {
        width: calc(50% - 50px);
    }
}

@media screen and (max-width: 800px) {
    #title h1 {
        font-size: 36px;
    }
    #title h2 {
        font-size: 26px;
    }
    #menu .menu {
        padding: 10px 12px;
        font-size: 17px;
    }
    .ad {
        width: calc(100% - 50px);
    }
}
